/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
	box-sizing: border-box; 
}


a {
	font-size: 24px;
	font-weight: 700;
	color: #8D81FF;
	text-decoration: none;
}

#active {
	color: #4E6FAE;
	margin-left: 87px;
	margin-right: 81px;
}

.entire {
	margin: 41px 194px 193px 63px;
}

nav {
	display: inline-block;
	vertical-align: middle;
}

.html {
	vertical-align: middle;
}
#main {
	margin-left: 60px;
}
#html1 {
	margin: 85px 194px 120px 194px;
}

#heading1 {
	color: #4E6FAE;
	font: FiraGO;
	font-weight: 700;
	font-size: 26px;
	font-style: normal;
	line-height: 31.2px;
	display: inline-block;
	margin-bottom: 26px;
	margin-left: 194px;
}
#heading2 {
	color: #4E6FAE;
	font: FiraGO;
	font-weight: 400;
	font-size: 26px;
	font-style: normal;
	line-height: 31.2px;
	display: inline-block;
	margin-bottom: 26px;
	margin-right: 200px;
}
.line1 {
    width: 2px;
    height: 24px;
    display: inline-block;
    margin: 0 41px;
    background-color: #5012D5;
}

.heading3 {
	color: #3F4145;
	font: Helvetica Neue LT GEO;
	font-weight: 400;
	font-size: 20px;
	font-style: normal;
	line-height: 24.14px;
	display: inline;
	margin-bottom: 20px;
}
.text {
	color: #7E8898;
	font: Helvetica Neue LT GEO;
	font-weight: 400;
	font-size: 16px;
	font-style: normal;
	line-height: 19.31px;
}

#bigdiv {
	margin-bottom: 90px;
}

#smalldiv1 {
	width: 500px;
	margin: 0;
	background: #E7E7E7;
	display: inline-block;
	padding: 20px;
	margin-right: 52px;
	margin-left: 194px;
	

}

#smalldiv2 {
	display: inline-block;
	width: 500px;
	margin: 0;
	background: #E7E7E7;
	padding: 20px;
	margin-bottom: 90px;
	margin-right: 194px;
}


.textdiv {
	margin-left: 29px;
	display: inline-block;
	width: 335px;
	margin-top: 15px;
}

.line2 {
    width: 2px;
    height: 50px;
    display: inline-block;
    margin: 0 41px;
    background-color: #5012D5;
}

#end {
	margin-left: 194px;
}