/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
	box-sizing: border-box; 
}


a {
	font-size: 24px;
	font-weight: 700;
	color: #8D81FF;
	text-decoration: none;
}

#active {
	color: #8D81FF;
	margin-left: 87px;
	margin-right: 81px;
}


nav {
	display: inline-block;
	vertical-align: middle;
}

#main {
	margin-left: 60px;
}

#contact {
	color: #4E6FAE;
}

#starter {
	margin: 40px 720px 30px 90px;
	display: inline-block;
}

.html {
	vertical-align: middle;
}

.extra {
	color: #3F4145;
	font: Helvetica Neue LT GEO;
	font-weight: 400;
	font-size: 20px;
	font-style: normal;
	line-height: 24.14px;
}

.text {
	color: #7E8898;
	font: Helvetica Neue LT GEO;
	font-weight: 400;
	font-size: 20px;
	font-style: normal;
	line-height: 24.14px;
	margin-bottom: 20px;
}

#heading {
	font-size: 36px;
	font-weight: 700;
	color: #4E6FAE;
	margin-bottom: 23px;
}

.big {
	padding: 93px 40px 93px 162px;
    background-color: #E7E7E7;
    margin-bottom: 106px;
}

.info {
	display: inline-block;
	width: 474px;
	vertical-align: top;
}

.line2 {
    width: 2px;
    height: 50px;
    display: inline-block;
    margin: 0 41px;
    background-color: #5012D5;
}
#end {
	margin-bottom: 180px;
	margin-left: 96px;
}